<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>1-2</string>
	<key>grid_size</key>
	<integer>9</integer>
	<key>tiles</key>
	<array>
		<dict>
			<key>locations</key>
			<array>
				<dict>
					<key>x</key>
					<integer>3</integer>
					<key>y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>4</integer>
					<key>y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>5</integer>
					<key>y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>3</integer>
					<key>y</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>4</integer>
					<key>y</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>5</integer>
					<key>y</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>kind</key>
			<string>Color_B</string>
		</dict>
		<dict>
			<key>locations</key>
			<array>
				<dict>
					<key>x</key>
					<integer>3</integer>
					<key>y</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>5</integer>
					<key>y</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>3</integer>
					<key>y</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>5</integer>
					<key>y</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>kind</key>
			<string>Color_A</string>
		</dict>
		<dict>
			<key>locations</key>
			<array>
				<dict>
					<key>x</key>
					<integer>5</integer>
					<key>y</key>
					<integer>4</integer>
				</dict>
			</array>
			<key>kind</key>
			<string>Blocker</string>
		</dict>
	</array>
	<key>end_point_1</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>end_point_2</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
